html{
    color: white;
    background-color: cornflowerblue;
    text-align: center;
}

button{
    padding: 1rem;
    background-color: green;
    border: none;
    color: white;
    width: 10%;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.resta{
    background-color: red;
}

.reset{
    background-color: rgb(206, 206, 9);
}